body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00539f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 1.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #00539f;
}


/* Footer styles */
footer {
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: center;
    /* Position the footer at the bottom of the container */
    margin-top: auto;
}
